.Title {
    color: var(--main-text-color);
    font-size: 30px;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 42px;
    text-transform: uppercase;
}


.GanreList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.GanreItems {
    padding: 0 25px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 14px;
    line-height: 143%;
    color: var(--main-text-color);
    text-transform: uppercase;
    cursor: pointer;
    background: #242424;
    border: 1px solid #454545;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.GanreItems:hover{
  background-color: var(--main-green-color);
}